Plugins>Correlescence v0.0.7, "2D cross-correlation", correlescence.Correlescence2D
Plugins>Correlescence v0.0.7, "2D STICS (space, time)", correlescence.Corr2DSTICS
Plugins>Correlescence v0.0.7, "1D STICS (space, time)", correlescence.Corr1DSTICS
Plugins>Correlescence v0.0.7, "Temporal ICS", correlescence.Temporal_ICS
Plugins>Correlescence v0.0.7, "FRFT",  correlescence.FRFT_test
Plugins>Correlescence v0.0.7>_FFT tools, "2D FFT basics", correlescence.FFTtoolsUI("2DFFT")
Plugins>Correlescence v0.0.7>_FFT tools, "Periodic-plus-smooth decomposition", correlescence.FFTtoolsUI("periodicsmooth")
Plugins>Correlescence v0.0.7>_Development, "Anglelets sector", correlescence.AngleletsFront("sector")
Plugins>Correlescence v0.0.7>_Development, "Anglelets decompose", correlescence.AngleletsFront("decompose")
Plugins>Correlescence v0.0.7>_Development, "Split kymograph", correlescence.KymoSplit
Plugins>Correlescence v0.0.7>_Development, "Split movie", correlescence.MovieSplit
Plugins>Correlescence v0.0.7>_Development, "Generate artificial kymograph", correlescence.KymographGenerator
Plugins>Correlescence v0.0.7>_Development, "Particle number from kymograph", correlescence.KymoPatNumberFCS