Plugins>Correlescence v0.0.7, "2D cross-correlation", Correlescence.Correlescence2D
Plugins>Correlescence v0.0.7, "2D STICS (space, time)", Correlescence.Corr2DSTICS
Plugins>Correlescence v0.0.7, "1D STICS (space, time)", Correlescence.Corr1DSTICS
Plugins>Correlescence v0.0.7, "Temporal ICS", Correlescence.Temporal_ICS
Plugins>Correlescence v0.0.7, "TimeLoop", Correlescence.TimeLoop
Plugins>Correlescence v0.0.7, "FRFT",  Correlescence.FRFT_test
Plugins>Correlescence v0.0.7>_FFT tools, "2D FFT basics", Correlescence.FFTtoolsUI("2DFFT")
Plugins>Correlescence v0.0.7>_FFT tools, "Periodic-plus-smooth decomposition", Correlescence.FFTtoolsUI("periodicsmooth")
Plugins>Correlescence v0.0.7>_Development, "Anglelets sector", Correlescence.AngleletsFront("sector")
Plugins>Correlescence v0.0.7>_Development, "Anglelets decompose", Correlescence.AngleletsFront("decompose")
Plugins>Correlescence v0.0.7>_Development, "Split kymograph", Correlescence.KymoSplit
Plugins>Correlescence v0.0.7>_Development, "Split movie", Correlescence.MovieSplit
Plugins>Correlescence v0.0.7>_Development, "Generate artificial kymograph", Correlescence.KymographGenerator
Plugins>Correlescence v0.0.7>_Development, "Particle number from kymograph", Correlescence.KymoPatNumberFCS