Plugins>Correlescence v0.0.4, "2D cross-correlation", Correlescence.Correlescence2D
Plugins>Correlescence v0.0.4, "2D STICS (space, time)", Correlescence.Corr2DSTICS
Plugins>Correlescence v0.0.4, "1D STICS (space, time)", Correlescence.Corr1DSTICS
Plugins>Correlescence v0.0.4>Development, "Anglelets sector", Correlescence.AngleletsFront("sector")
Plugins>Correlescence v0.0.4>Development, "Anglelets decompose", Correlescence.AngleletsFront("decompose")
Plugins>Correlescence v0.0.4>Development, "Split kymograph", Correlescence.KymoSplit
Plugins>Correlescence v0.0.4>Development, "Split movie", Correlescence.MovieSplit
Plugins>Correlescence v0.0.4>Development, "Generate artificial kymograph", Correlescence.KymographGenerator
Plugins>Correlescence v0.0.4>Development, "Particle number from kymograph", Correlescence.KymoPatNumberFCS